/* GLOBAL */
body {
    background-color: #E6F2F8;
    color: #2F556B;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    color: #2F556B;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #2F556B;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.navbar {
    background-color: #2F556B;
}

.footer {
    background-color: #2F556B;
    color: white;
    padding: 20px;
    text-align: center;
}

/* INDEX */
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.card-title {
    color: #2C7FB8;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
    color: #555;
}

/* INSTITUCIONAL */
.institucional-section {
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 10px;
}

.institucional-section p {
    line-height: 1.6;
    color: #333;
}

/* CONTACTO */
.contacto-form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}

.contacto-form label {
    font-weight: bold;
}

.contacto-form input,
.contacto-form textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
}

.contacto-form button {
    background-color: #2F556B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.contacto-form button:hover {
    background-color: #2C7FB8;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0px !important;
}

/* tabla de altaMedicos.html en mobile, ocultamos columnas poco relevantes para mejor visualización*/
@media (max-width: 767.98px) {
  #tabla_Medicos th:nth-child(3),
  #tabla_Medicos td:nth-child(3),
  #tabla_Medicos th:nth-child(5),
  #tabla_Medicos td:nth-child(5),
  #tabla_Medicos th:nth-child(6),
  #tabla_Medicos td:nth-child(6) {
    display: none;
  }

  #tabla_Medicos th, #tabla_Medicos td {
    font-size: 0.8rem;
  }
}
